/* Empty. Add your own CSS if you like */

/* common */
.basic-button-orange {
    background: #ff9500;
    color: #fff;
    border-radius: 5px;
    border-color: #ffffff;
}

.text-orange {
    color: #ff9500;
}

.bg-orange {
    background-color: #ff9500;
}

.bg-white {
    background-color: #ffffff;
}

.bg-gray {
    background-color: #efeff4;
}

.bg-light-gray {
    background-color: #f9f9f9;
}

.i-button {
    width: 34px;
    height: 34px;
    display: block;
    font-size: 30px !important;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.i-header-right {
    position: absolute;
    right: 0px;
    top: 3px;
}

.half-image {
    width: 50%;
    height: 50%;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.messageBody{
    text-align: center;
}

/* login */
.hiApp-logo {
    width: 100px;
    height: 100px;
    margin: 50px auto;
    display: block;
}

@media screen and (min-width: 600px) {
    .hiApp-logo {
        width: 100px;
        height: 100px;
        margin: 50px auto;
        display: block;
    }
}

.login-error {
    border-color: red;
    height: 40px;
    text-align: center;
    padding: 0px !important;
    line-height: 40px;
    color: red;
}

/*rewrite*/

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #ff9500;
}

/* tool */
.message-tool {
    width: 100%;
    height: 36px;
    overflow: hidden;
    background-color: white;
    margin-top: 1px;
}

.message-tool ul {
    width: 100%;
    height: 100%;
}

.message-tool ul li {
    width: 19%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    font-size: 25px;
    line-height: 36px;
    text-align: center;
}

/*comment*/

.comments-content {
    background: #f7f7f7;
    border: 1px solid #EBE9E9;
    color: #6d6d72;
}

.comments-content .comment-title {
    height: 30px;
    background-color: #fff;
    line-height: 30px;
    font-size: 11px;
    padding-left: 10px;
    border-bottom: 1px solid #EBE9E9;
    position: relative;
}

.comments-content .comment-title .tip {
    position: absolute;
    width: 0;
    height: 0;
    top: 13px;
    left: 48px;
    border: 9px solid rgba(255, 255, 255, 0);
    border-bottom: 9px solid #f7f7f7;
}

.comments-content .comments-list {
    padding: 0 5px;
    margin: 0;
}

.comments-content .comments-list .none-comment {
    text-align: center;
    margin-top: 10px;
    color: #DBDBDB;
}

.comments-content .comments-list .none-comment > i {
    display: block;
    font-size: 75px;
    margin-left: -15px;
}

.comments-content .comments-list > li {
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #EBE9E9;
    position: relative;
}

.comments-content .comments-list .avatar {
    float: left;
    height: 35px;
    width: 35px;
    border-radius: 3px;
}

.comments-content .comments-list .avatar > img {
    height: 35px;
    width: 35px;
    border-radius: 3px;
}

.comments-content .comments-list .comment-detail {
    margin-left: 47px;
}

.comments-content .comments-list .comment-detail .name {
    font-size: 12px;
    margin-top: -2px;
}

.comments-content .comments-list .comment-detail .text {
    word-break: break-all;
    line-height: 14px;
}

.comments-content .comments-list .comment-detail .time {
    color: #B6B6B6;
    font-size: 10px;
    margin-top: 5px;
}

/*setting*/
.setting-i {
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: white;
}

.feekback {
    background-color: #38b57f;
}

.refresh {
    background-color: #fca405;;
}

.language {
    background-color: #9b59b6;
}

.about {
    background-color: #5999f3;
}

.small-item {
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
    text-decoration: none;
    height: 50px;
}

.small-item-avatar{
    padding-left: 50px;
    min-height: 50px;
}

.small-setting-i {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 30px;
    max-height: 30px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    color: white;
}

.small-item p{
    height: 50px;
    display: block;
    line-height: 50px;
    text-decoration: none;
}