<ion-header-bar class="bar-header bar-light">
    <h1 class="title">{{::contactsTranslate.contactsName}}</h1>
</ion-header-bar>
<ion-header-bar class="bar-subheader" style="background-color: #c9c9ce;padding:1px 0px 0px 0px;">
    <div id="search-box" class="bar item-input-inset">
        <div class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon" on-tap="search()"></i>
            <input type="search" placeholder="{{::contactsTranslate.search}}" ng-model="options.Pattern"/>
            <i class="clear-search icon ion-ios7-close-empty"></i>
        </div>
        <button class="button button-clear" on-tap="search()">{{::contactsTranslate.search}}</button>
    </div>
</ion-header-bar>
<ion-view view-title="hiApp">
    <ion-content class="padding bg-gray">
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="contact in contacts"
                      type="item-text-wrap" href="#/tab/contacts/{{contact.id}}">
                <img ng-src="{{contact.face}}">

                <h2>{{contact.name}}</h2>

                <p>{{contact.telephone}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove(contact)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
