<ion-header-bar class="bar-header bar-light">
    <i class="i-button icon ion-ios-refresh-empty" on-tap="refresh()"></i>

    <h1 class="title">{{::tweetTranslate.tweetName}}</h1>
    <i class="i-button button icon ion-ios-compose-outline i-header-right" on-tap="modalFn.openModal()"></i>
</ion-header-bar>

<ion-view view-title="hiApp">

    <ion-content class="padding bg-gray">

        <ion-refresher on-refresh="refresh()"></ion-refresher>

        <div class="list card bg-white" data-ng-repeat="tweet in list">

            <div class="item item-avatar">
                <img src="{{::tweet.icon}}">

                <h2 class="text-orange">{{::tweet.name}}</h2>

                <p>{{::tweet.insertDate}}</p>
            </div>

            <div class="item item-body">

                <a href="#/tab/tweet/{{tweet.id}}" style="color: #666;text-decoration: none; font-size: 14px;">{{::tweet.content}}</a><br/>
                <img data-ion-picture-browser class="half-image" data-ng-repeat="photo in tweet.photos" src="{{photo}}">

                <p>
                    <a href="#" class="subdued">{{::tweet.likes}} {{::tweetTranslate.like}}</a>
                    <a href="#/tab/tweet/{{tweet.id}}" class="subdued">{{::tweet.comments}}
                        {{::tweetTranslate.comments}}</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left bg-light-gray">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    {{::tweetTranslate.like}}
                </a>
                <a class="tab-item" href="#/tab/tweet/{{tweet.id}}">
                    <i class="icon ion-chatbox"></i>
                    {{::tweetTranslate.comment}}
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    {{::tweetTranslate.share}}
                </a>
            </div>

        </div>

        <ion-infinite-scroll on-infinite="loadMore()" data-ng-if="moreTweet" immediate-check="true"
                             distance="10%"></ion-infinite-scroll>
    </ion-content>

</ion-view>
