<ion-header-bar class="bar-header bar-light">
    <h1 class="title">{{::setting.settingName}}</h1>
</ion-header-bar>

<ion-view view-title="hiApp">
    <ion-content class="padding bg-gray">

        <div class="list">

            <a class="item item-thumbnail-left" href="">
                <img src="img/avatar/avatar01.jpg" data-ion-map />

                <h2 style="margin-top: 20px;">{{::setting.userName}}</h2>

                <p>Hi, {{::setting.userName}}</p>
            </a>
        </div>

        <div class="list">

            <a class="small-item small-item-avatar margin-bottom-10" href="" on-tap="feekback()">
                <i class="ion-lightbulb small-setting-i feekback"></i>

                <p>{{::setting.feekback}}</p>
            </a>

            <a class="small-item small-item-avatar margin-bottom-10" href="" on-tap="update()">
                <i class="ion-ios-loop small-setting-i refresh"></i>

                <p>{{::setting.update}}</p>
            </a>

            <a class="small-item small-item-avatar margin-bottom-10" href="#/tab/setting/changeLanguage">
                <i class="ion-ios-world-outline small-setting-i language"></i>

                <p>{{::setting.language}}</p>
            </a>

            <a class="small-item small-item-avatar margin-bottom-10" href="" on-tap="about()">
                <i class="ion-ios-information-empty small-setting-i about"></i>

                <p>{{::setting.about}}</p>
            </a>

        </div>

        <div>
            <button style="border-radius: 5px;" class="button button-full button-assertive" on-tap="logout()">
                {{::setting.logout}}
            </button>
        </div>
    </ion-content>
</ion-view>
